$tablet: 700px
@import "../../node_modules/bulma/bulma.sass"
@import '../../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass'
@import '../../node_modules/bulma-switch/dist/css/bulma-switch.sass'


#register
  max-width: 500px

#fondo
  position: fixed
  bottom: 0
  roght: 0
  z-index: -1

#topbar
  background-color: transparent
  .navbar-item.is-active
    border-bottom: 1px solid $primary
    background-color: $light
.is-narrow
  max-width: 400px

.is-loading
  position: relative
  *
    filter: blur(2px)
    opacity: .9
  &::after
    font-family: monospace
    content: 'Cargando'
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    animation: cargando 2s infinite

@keyframes cargando
  0%
    content: 'Cargando'
  12%
    content: 'cArgando'
  24%
    content: 'caRgando'
  36%
    content: 'carGando'
  48%
    content: 'cargAndo'
  60%
    content: 'cargaNdo'
  72%
    content: 'carganDo'
  84%
    content: 'cargandO'

#menu
  min-width: 250px
.columns
  display:

#menu-background
  display: none
+mobile
  #menu
    position: fixed
    z-index: 100
    background: white
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    top: 0
    bottom: 0
    overflow: visible
    right: -250px
    transition: right .5s ease-out
    .menu
      overflow-y: auto
      max-height: 100%

  #menu.is-active
    right: 0px
  #menu-background
    cursor: pointer
    display: block 
    position: fixed
    right: 0
    top: 0
    background: #fffb
    z-index: 99
    height: 100vh
    width: 0
    transition: width .5s ease-out

  #menu-background.is-active
    width: calc(100vw)


.navbar-burger.lateral
  display: none
  right: 0
  background: #fffe
  transition: right .5s ease-out

.navbar-burger.lateral.is-active
  right: 250px

+mobile
  .navbar-burger.lateral
    display: block


.select
  width: 100%
  select
    width: 100%


.cropperWrapper
  position: relative
  width: 100%
  padding-top: 75%

.is-dummy
  pointer-events: none
  span
    background: $grey-lighter
    margin-left: 1ex;
  span.icon
    background: transparent
    color: $grey-lighter
    margin-left: 0
  p
    color: transparent

.media-left.with-buttons
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;

.has-3-lines
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;